---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout title="ShapeCraft - Las mejores figuras personalizadas" description="Las mejores figuras personalizadas de tus series y hobbys favoritas en un solo lugar">
	<main class="snap-y snap-mandatory h-screen w-full overflow-auto">
		<div class="snap-center">
			<HeroSection />
		</div>
	</main>
</Layout>

<style></style>
