---
import Layout from '../layouts/Layout.astro';
import HeroLanding from '../components/HeroLanding.astro'
---

<Layout title="ShapeCraft - Las mejores figuras personalizadas">
	<main>
		<HeroLanding/>
		<section class="h-screen w-screen text-center relative overflow-hidden font-medium" id="about">
			<h2>Hola</h2>
		</section>
	</main>
</Layout>

<style>
	
</style>
