<header class="py-4 px10 flex items-center fixed top-0 w-full justify-between z-40 text-rose-600">
    <div class="flex flex-grow basis-0">
        <img class="h-20 w-36" src="imgs/shapecraft.svg" alt="" />
    </div>
    <nav class="flex flex-grow">
        <ul class="flex text-sm [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 md:text-xl">
            <li><a href="#">Comics</a></li>
            <li><a href="#">Anime</a></li>
            <li><a href="#">Games</a></li>
        </ul>
    </nav>
</header>