<section class="h-screen w-screen text-center relative overflow-hidden font-medium">
    <div class="z-30 flex flex-col w-full absolute h-full bg-black bg-opacity-50">
        <header class="relative text-white p-6 md:p-40">
            <h2 class="pt-40 text-2xl md:text-4xl">Las mejores Figuras Personalizadas</h2>
            <p class="text-yellow-400 text-xl md:text-2xl">Consigue la tuya ahora</p>
        </header>
        <footer class="relative flex flex-grow justify-end flex-col text-white">
            <a class="border-2 rounded-full border-white mx-auto hover:mt-12 md:pb-20 hover:border-yellow-400 hover:p-2 transition-all" href="#about"><img class="w-10 h-10 text-white" src="imgs/arrow-down.svg" alt=""></a>
            <p class="pb-60">Compranos una todo bien</p>
        </footer>
    </div>
    

    <div class="absolute top-0 bottom-0 z-10">
        <img class="object-cover h-full md:max-w-full md:h-auto" src="imgs/background.jpg" alt="Imagen de fondo" srcset="">
    </div>
</section>